/*fonts-family*/
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-RegularCondensed.eot');
  src: url('../fonts/ProximaNova-RegularCondensed.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-RegularCondensed.woff2') format('woff2'), url('../fonts/ProximaNova-RegularCondensed.woff') format('woff'), url('../fonts/ProximaNova-RegularCondensed.ttf') format('truetype'), url('../fonts/ProximaNova-RegularCondensed.svg#ProximaNova-RegularCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*Color*/
/*кнопка оранжевый*/
/*цвет иконок зеленый*/
/*цвет текста почти черный*/
/*красные значки и тд*/
/*почти белый фон*/
/*просто белый*/
.main {
  padding: 3rem 5rem;
  font-family: 'ProximaNova_reg', sans-serif;
  background: #ffffff url(../img/bg-main2.jpg) center center no-repeat;
  background-size: auto ;
  color: #1a1820;
}
h1 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #1a1820;
}
.header-p {
  margin-bottom: 4rem;
  font-size: 1.5rem;
  color: #1a1820;
}
.header-link {
  text-decoration: none;
  font-size: 1.4rem;
  margin-right: 2rem;
  color: #1a1820;
  white-space: pre;
}
/*тело*/
.body {
  margin-top: 2rem;
}
h2 {
  text-align: center;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #1a1820;
}
.vizitka-p {
  margin-bottom: 4rem;
  font-size: 1.5rem;
  font-family: 'ProximaNova_reg', sans-serif;
  text-align: center;
  color: #1a1820;
}
h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #1a1820;
}
.main-foto {
  text-align: center;
  margin-bottom: 2.5rem;
}
/*основной материал*/
.hands {
  background: #ffffff url(../img/bg-main2.jpg) center center no-repeat;
  background-size: auto ;
}
.hands-p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-family: 'ProximaNova_reg', sans-serif;
  text-align: center;
  color: #1a1820;
}
/*ноги*/
.link {
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 4rem;
}
.link-img {
  text-align: center;
}
.fotorama {
  width: 80%;
  margin: 2rem auto;
}
@media (max-width: 766px) {
  h1 {
    font-size: 1.7rem ;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  .header {
    text-align: center;
  }
  .header-link {
    margin-right: 0;
    display: block;
    font-size: 0.9rem;
    border: 3px solid #1a1820;
    border-radius: 2rem;
    margin-top: 0.2rem;
    white-space: normal;
  }
}
@media (max-width: 346px) {
  h1 {
    word-wrap: break-word;
  }
}
.disqus_thread {
  width: 70%;
}
